.cart-item-container{
    display: flex;
    flex-direction: row;
    margin: 1.2rem 15rem 5rem 25rem;
    /*     border: rgb(33, 32, 56) solid 0.4rem; */
    font-family: var(--font-family_text);
}
.cart-img-container img{
    width: 10rem;
    height: fit-content;
    box-shadow: rgba(44, 6, 6, 0.4) 0px 0px 0px 2px, rgba(44, 6, 6, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    border-radius: 5%;
    margin-right: 5rem;
}