.locales {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100%;
}
/* .titulo{
    position: absolute;
    
}
 */
.contenedor{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 10rem;
}

.contenedor p {
    font-family: var(--font-family_text);
    font-size: 1.5rem;

}
.locales p {
    font-family: var(--font-family_text);
    font-size: 1rem;

}
.locales h5 {
    font-family: var(--font-family_text);
    font-size: 1.5rem;

}

.locales img {
    width: 7rem;
    height: auto;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    cursor: pointer;
}

  .locales img:hover, .locales img:focus, .locales img:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
